POSTGRES_PASSWORD=pa55word
POSTGRES_USER=vaito

USER_DB_NAME=users
USER_DB_USER=vaito_user
USER_DB_PASS=pa55word
USER_DB_DSN=postgres://vaito_user:pa55word@postgres_db:5432/users?sslmode=disable

LISTING_DB_NAME=listings
LISTING_DB_USER=vaito_listing
LISTING_DB_PASS=pa55word
LISTING_DB_DSN=postgres://vaito_listing:pa55word@postgres_db:5432/listings?sslmode=disable

GATEWAY_HOST=gateway
GATEWAY_PORT=4000

USER_HOST=user
USER_PORT=4001

LISTING_HOST=listing
LISTING_PORT=4002
